<div class="main">
  <mat-toolbar class="toolbar">
    <button mat-button [ngClass]="page > 0 ? 'show' : 'hidden'" (click)="lastPage()">
      <mat-icon aria-hidden="false" aria-label="favorite">arrow_back_ios</mat-icon>
    </button>
    <div>
      <input-component class="search" (searchString)="onSubmitted($event)"></input-component>
    </div>
    <button mat-button [ngClass]="next ? 'show' : 'hidden'" (click)="nextPage()">
      <mat-icon aria-hidden="false" aria-label="favorite">arrow_forward_ios</mat-icon>
    </button>
  </mat-toolbar>
  <div class="poke-list">
    <mat-grid-list *ngIf="pokemons && pokemons.length > 0" [cols]="colMat" (window:resize)="onResize($event)">
      <mat-grid-tile class="poke-item" *ngFor="let poke of pokemons">
        <poke-card class="poke-card" [pokeName]="poke.viewName" [pokeTypes]="poke.types" [pokeNumber]="poke.number"
          [pokeImage]="poke.image" [load]="load" (click)="onSelect(poke)"></poke-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-card *ngIf="pokemons && pokemons.length === 0" class="card-error">
      <mat-card-header class="card-header">
        <mat-card-title>Nenhum Pokémon encontrado</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="trainer-image" src="../assets/poke-trainer.jpg" alt="Pokemon trainer">
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>