.poke-card {
  cursor: pointer;
  display: flex;
}

.main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* height: 100%; */
}

.toolbar {
  position: sticky;
  top: 0;
  margin-bottom: 50px;
  z-index: 1000;
  height: 100px;
  justify-content: space-between;
  background: #e84848;
  color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.favorite-button {
  margin-left: 20px;
}

.hidden {
  visibility: hidden;
}

.card-error {
  width: 20%;
  margin: auto;
  margin-top: 40px;
}

.card-header {
  justify-content: center;
}

/* .poke-list {
  display: flex;
  align-self: center;
} */