<mat-card class="card">
  <mat-card-header class="header">
    <mat-card-title>
      <ngx-skeleton-loader *ngIf="load" [theme]="{ height: '20px',width: '100px'}"></ngx-skeleton-loader>
      <p *ngIf="!load">#{{pokeNumber}}</p>
    </mat-card-title>
  </mat-card-header>
  <ngx-skeleton-loader *ngIf="load" appearance="circle" [theme]="{ height: '100px',width: '100px'}"></ngx-skeleton-loader>
  <img *ngIf="!load" mat-card-image src="{{pokeImage}}" alt="{{pokeName}}">
  <mat-card-content class="content">
    <ngx-skeleton-loader *ngIf="load" [theme]="{ height: '20px',width: '100px'}"></ngx-skeleton-loader>
    <p *ngIf="!load">{{pokeName}}</p>
  </mat-card-content>
</mat-card>